p Title:
p= @question.title
p Body:
p= @question.body
- if (current_user && current_user.author_of?(@question))
      p= link_to 'Delete', @question, method: :delete, data: { confirm: 'A you sure?' }

== render 'answers/answer_body', answers: @question.answers
== render 'answers/form'

p= link_to 'Back', questions_path







