<% if @answer.destroyed? %>
  <% id = @answer.id %>
  $('.notice').append("<p>Your answer was deleted.</p>")
  $('.answers').find('.id-<%= id %>').remove();
<% else %>
  $('.notice').append("<p >Your can't delete answer </p>")
<% end %>
