<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |massage|%>
   <p> $('.answers-errors').append("<%= j massage %>")</p>
  <% end %>
<% else %>
  $('.answers').html('<%= j render 'answer', answer: @answer %>');
<% end %>
