development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "927e2e59721ef330c9c766db2ea676c402e91335fe3285e5e22bb0bd7cbe8910"
  signature_expiration: 3600 # one hour
